/* ============== FONT ============== */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


/* ============== GLOBAL ============== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

body {
  margin: 0;
  padding: 0;

  background-color: var(--clr-background) !important;
  color: var(--clr-text) !important;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dc-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hr {
  border: none;
  border-top: 1px solid var(--clr-text);
  color: var(--clr-text);
  opacity: 0.3;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 100%;
}

.regularText {
  font-weight: 400 !important;
}

/* ============== ROOT ============== */

:root {
  --clr-background: #DCDCDC;
  --clr-forground: #F6F6F6;
  --clr-forground2: #fdfdfd;
  --clr-text: #232323;
}


/* ============== NAVBAR ============== */

#boNav {
  justify-content: center !important;
}

nav {
  position: fixed;
  top: 50%;
  translate: 0 -50%;
  height: 90vh;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--clr-forground);
  padding: 1rem 1rem;
  border-radius: 0px 16px 16px 0px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
  min-width: 90px;
}

nav a {
  color: var(--clr-text);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

nav a:hover {
  cursor: pointer;
}

#navIconLogo {
  filter: invert(1);
}

.navIconBg2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  border: 1px solid var(--clr-forground);
}

.navUnivLogo img {
  width: 40px;
  height: 40px;
}

.navIconBg2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: filter 0.3s ease;
}

.navIconBg2:hover {
  border: 1px solid var(--clr-text);
}

#navMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.navIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.navIconBg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.navIconBg img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.navIconContainer:hover .navIconBg {
  background-color: var(--clr-text);
}

.navIconContainer:hover img {
  filter: invert(1);
}

.BoSubmit {
  border: none;
  background: none;
}

.BoSubmit:hover {
  cursor: pointer;
}

/* ============================================ */
/* ============== Login PAGE ================== */
/* ============================================ */

#spanLog {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: #FFA500;
}

#headerConnexion {
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  background-color: var(--clr-forground);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.10);
}

#headerConnexion img {
  width: fit-content;
  height: 48px;
  filter: invert(1);
}

#sectionConnexion {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

#sectionConnexion h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#containerConnexion {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background-color: var(--clr-forground);
  gap: 2rem;
  padding: 2rem;
  width: 30vw;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.10);
}

#containerConnexion div input {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
}

#containerConnexion div input:focus {
  outline: none;
}

#formConnexion {
  width: 100%;
  gap: 2rem;
}

#mailConnexion {
  background: none;
}

#passwordConnexion {
  background: none;
}

.inputFormConnexion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1.5px solid var(--clr-text);
  border-radius: 10px;
  padding: 12px 20px;
  overflow: hidden;
}

#submitContainerConnexion input {
  width: 100%;
  border: 1.5px solid var(--clr-text) !important;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: var(--clr-text);
  color: var(--clr-forground);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#submitContainerConnexion input:hover {
  cursor: pointer;
  background-color: var(--clr-forground);
  color: var(--clr-text);
}

#submitContainerConnexion a {
  color: var(--clr-text);
  font-family: 'Inter', sans-serif;
  text-decoration: underline !important;
  font-size: 0.625rem;
  font-weight: 600;
}

#eyeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--clr-text);
}

#eyeButton img {
  width: 1.5rem;
  height: 1.5rem;
}

#eyeButton:hover {
  cursor: pointer;
}

/* ============================================ */
/* ============== Profile PAGE ================ */
/* ============================================ */

#profileSection {
  margin: 5vh 0 5vh 8vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

#profileBodyContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

#profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#profileHeader button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
}

#profileHeader button:hover {
  opacity: 0.5;
  cursor: pointer;
}

#profileBodyDiv1 {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--clr-forground);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#profileInfo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#profileBodyDiv2 {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--clr-forground);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#profileInfo2 {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0.875rem;
  font-weight: 500;

}

#profileAsideContainer {
  height: 90vh;
  width: 40%;
  padding: 2rem 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-direction: column;
  background-color: var(--clr-forground);
  border-radius: 16px 0px 0px 16px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#profilePicture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profileBodyLabel {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: 500;
  background-color: var(--clr-forground2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

.profileBodyLabel h1 {
  font-size: 1rem;
  font-weight: 500;
}

.profileBodyEdit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.2s ease-in-out;
}

.profileBodyEdit img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profileIcon {
  height: 24px;
  width: 24px;
}

.profileTextContainer {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.profileText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profileInfo2Text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.asideDiv {
  background: var(--clr-forground2);
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-radius: 12px 0px 0px 12px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

.asideDivTitle {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-text);
}

.asideDivTitle h1 {
  color: var(--clr-forground2);
  font-size: 1.2rem;
  font-weight: 600;
}

.absTemplate {
  font-weight: 400;
  font-size: 0.875rem;
}

.absTemplate button {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.absTemplate button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.absPartOne {
  font-family: 'Inter';
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 4px;
}

.absPartTwo {
  font-family: 'Inter';
  font-weight: 500;
  opacity: 0.5;
}

.absIcon {
  height: 14px;
  width: 14px;
}

.asideBodyContainer {
  width: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

#absSeeMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

#absSeeMore:hover {
  cursor: pointer;
}

#absRecap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.recapPartOne {
  display: flex;
  align-items: center;
  justify-content: end;
}

.recapPartTwo {
  display: flex;
  align-items: center;
  justify-content: end;
  opacity: 0.5;
}

#userJustifModal {
  display: none;
}

/* ============== Modal ================ */

.modalBg {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: var(--clr-text);
}

.profileModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  min-width: 50vw;
  background-color: var(--clr-forground);
  font-family: 'Inter', sans-serif;
}

.profilModalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--clr-text);
}

.profilModalTitle h1 {
  color: var(--clr-forground2);
  font-size: 1.2rem;
  font-weight: 600;
}

.profilModalClose {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  filter: invert(1);
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.profilModalClose:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profileModalFormContainer {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.profileModalForm {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

.profilInputContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.profilInputContainer label {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

.profilInputContainer input {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 1.5px solid var(--clr-text);
  border-radius: 10px;
  padding: 12px 20px;
  background-color: transparent;
  width: 100%;
  color: var(--clr-text);
  opacity: 0.75;
}

.profilModalSubmit {
  width: fit-content;
  border: 1.5px solid var(--clr-text) !important;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: var(--clr-text);
  color: var(--clr-forground);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.profilModalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profilModalSubmit:hover {
  cursor: pointer;
  background-color: var(--clr-forground);
  color: var(--clr-text);
}

.confirmPasswordContainer {
  display: none;
}

#userInformationModal {
  display: none;
}

#userPhotoModal {
  display: none;
}

.modalBg {
  display: none;
}

.firstLastNameInput {
  flex-direction: row;
  gap: 1rem;
}

/* =================================================== */
/* ============== Back Offfice PAGE ================== */
/* =================================================== */

#boBody {
  margin: 5vh 2vw 5vh 8vw;
  padding: 2rem;
  border-radius: 16px;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 2vw;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: var(--clr-forground);
}

#usersListContainer {
  max-height: 70vh;
  overflow-y: scroll;
}

.usersTable td {
  padding: 1rem 2rem;
}

.boProfilePicture {
  height: 41px;
  width: 41px;
  border-radius: 50%;
}

.toolsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.deleteTool {
  border: none;
  background-color: rgb(253, 142, 134);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

.deleteTool:hover {
  cursor: pointer;
  background-color: rgb(255, 102, 94);
  transition: all 0.2s ease-in-out;
}

.editTool {
  border: none;
  background-color: rgb(255 217 153);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

.editTool:hover {
  cursor: pointer;
  background-color: rgb(255 187 94);
  transition: all 0.2s ease-in-out;
}

.editModal {
  display: none;
}

#boAddButton {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  border: none;
  background-color: var(--clr-text);
  padding: 1rem;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#boAddButton img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

#boAddButton:hover {
  cursor: pointer;
  background: var(--clr-forground2);
  transition: all 0.2s ease-in-out;
}

#boAddButton:hover img {
  filter: invert(0);
}

#addUserModal {
  display: none;
}

#otherInfoInput {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.otherInputContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.otherInputContainer label {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

.otherInputContainer select {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 1.5px solid var(--clr-text);
  border-radius: 8px;
  padding: 4px;
  background-color: transparent;
  color: var(--clr-text);
  opacity: 0.75;
}

#addUserLog {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.4rem;
  background-color: #ffd382;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text);
}

/* =================================================== */
/* ================= Accueil PAGE ==================== */
/* =================================================== */

#accueilSection {
  margin: 5vh 17vw 5vh 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

#accueilSection h2 {
  font-size: 0.9rem;
  font-weight: 600;
}

#accueilBodyContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

#accueilAsideContainer {
  position: fixed;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  height: 90vh;
  width: 15%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--clr-forground);
  border-radius: 16px 0px 0px 16px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#accueilWidgetOneLink {
  height: 28%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

#accueilWidgetOneLink:hover {
  cursor: pointer;
  opacity: 0.75;
}

#accueilAsideWidgetOne {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  background-color: #EC9EFF;
  color: var(--clr-text);
  border-radius: 12px;
  padding: 1rem;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
  font-weight: 400;
}

#accueilAsideWidgetOne div:nth-child(1) {
  font-weight: 600;
}

#accueilAsideWidgetOne div:nth-last-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#accueilAsideDouble {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 400;
}

#accueilAsideDouble div {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 6px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#accueilAsideDouble a {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

#accueilAsideDouble a:hover {
  cursor: pointer;
  opacity: 0.75;
}

#accueilAsideWidgetTwo {
  color: var(--clr-forground2);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
  background: linear-gradient(180deg, #363636, #1C1B1B);
}

.accueilWidgetTwoSpan {
  width: 100%;
}

#accueilAsideWidgetTwo div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#accueilAsideWidgetThree {
  background-image: url(../svg/crousLogo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#absFirstPart {
  font-size: 24px;
  font-weight: 600;
}

#accueilAsideWidgetFour {
  height: 59%;
  width: 100%;
  background-color: var(--clr-text);
  border-radius: 12px;
  color: var(--clr-forground2);
  padding: 1rem;
}

#notifHr {
  margin: 0.5rem 0 0.5rem 0;
  border-top: 1px solid var(--clr-forground2);
  opacity: 1;
}

#notifTemplateWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  height: 100%;
}

.notifTemplate {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 0.875rem;
  font-weight: 400;
}

.notifTemplate img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.notifContent {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

#accueilHeader {
  width: 100%;
  height: 14vh;
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%), url(../img/accueilHeaderBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--clr-forground2);
}

#accueilHeaderLeft h1{
  font-size: 1.5rem;
  font-weight: 500;
}

#accueilHeaderRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
  width: 25%;
  height: 100%;
  border-radius: 15px;
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(3.1573333740234375px);
}

#accueilHeaderRight img {
  width: 100%;
}

#accueilCours {
  width: 100%;
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--clr-forground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#accueilCoursHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.accueilBodyLabel {
  background-color: var(--clr-forground2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#accueilCoursSearchbar {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 100%;
  border-radius: 8px;
  background-color: var(--clr-forground2);
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
}

#accueilCoursSearchbar input {
  width: 100%;
  border: none;
  background: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.900rem;
  font-weight: 500;
}

#searchCoursLogo {
  height: 100%;
  background-color: var(--clr-text);
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#accueilCoursSelect {
  background-color: var(--clr-forground2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.10));
  border: none;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

#accueilCoursWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.coursTemplateContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 16px;
  gap: 1rem;
  background-image: url(../img/coursBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

.coursContentBg {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: var(--clr-text);
  color: var(--clr-forground2);
  padding: 1rem;
  gap: 1rem;
}

/* ==== ADE ==== */

.ade {
  background: #F2F2F2;
  padding: 20px;
  grid-area: section;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 50px 6px rgba(0, 0, 0, 0.10);
  z-index: 10;
  overflow-y: scroll;
}

.ade table,
th {
  border-collapse: collapse;
}

.fixed_headers {
  table-layout: fixed;
  width: 100%;
}

.fixed_headers thead {
  color: #000;
  justify-content: start;
}

.fixed_headers td {
  padding: 10px;
  text-align: start;
  word-wrap: break-word;
}

.fixed_headers thead tr {
  position: relative;
}

.fixed_headers tbody {
  padding: 50px;
  width: 100%;

}

.ade tr {
  height: 65px;
  border-bottom: solid #828282 1px;
}

.next-weeks tr {
  border: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}

.next-weeks th {
  border-right: solid 1px #787878;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.noborder {
  border: none;
}

.ade thead th {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: center;
}

.ade th span {
  color: #6d6d6d;
  font-weight: 400;
}

.ade td {
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.ade td span {
  font-weight: 400;
}

.ade td:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.tab-month {
  text-align: left;
  padding-left: 10px;
}

.green {
  background-color: #D0F6DB;
}

.turquoise {
  background-color: #CAF7F1;
}

.ciel {
  background-color: #B6F1FD;
}

.rose {
  background-color: #EC9EFF;
}

.mauve {
  background-color: #BD9EFF;
}

.lilas {
  background-color: #D2BDFF;
}

.orange {
  background-color: #FFB986;
}

.fluo {
  background-color: #E6FFBD;
}

.orange-clair {
  background-color: #FFE0B2;
}

.violet {
  background-color: #A377FF;
}

/* ==== Note ==== */

#accueilNote {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--clr-forground);
  border-radius: 16px;
}

.noteWrapper {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.1fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.noteWrapper div {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}

.noteWrapper .hr {
  margin: 0 !important;
}

.accueilNoteSpan {
  padding: 0.25rem 1rem;
  background-color: #FCD99F;
  color: #77521B;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  margin: 0 !important;
  grid-area: 2 / 1 / 3 / 5;
}

.div6 {
  grid-area: 3 / 1 / 4 / 2;
}

.div7 {
  grid-area: 3 / 2 / 4 / 3;
}

.div8 {
  grid-area: 3 / 3 / 4 / 4;
}

.div9 {
  grid-area: 3 / 4 / 4 / 5;
}

.div10 {
  grid-area: 4 / 1 / 5 / 2;
}

.div11 {
  grid-area: 4 / 2 / 5 / 3;
}

.div12 {
  grid-area: 4 / 3 / 5 / 4;
}

.div13 {
  grid-area: 4 / 4 / 5 / 5;
}

.div14 {
  grid-area: 5 / 1 / 6 / 2;
}

.div15 {
  grid-area: 5 / 2 / 6 / 3;
}

.div16 {
  grid-area: 5 / 3 / 6 / 4;
}

.div17 {
  grid-area: 5 / 4 / 6 / 5;
}

.div18 {
  grid-area: 6 / 1 / 7 / 2;
}

.div19 {
  grid-area: 6 / 2 / 7 / 3;
}

.div20 {
  grid-area: 6 / 3 / 7 / 4;
}

.div21 {
  grid-area: 6 / 4 / 7 / 5;
}

#accueilNoteFooter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#accueilNoteButton {
  padding: 0.5rem 3rem;
  background-color: var(--clr-text);
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--clr-forground);
  text-decoration: underline !important;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--clr-text);
}

#accueilNoteButton:hover {
  cursor: pointer;
  background-color: var(--clr-forground);
  color: var(--clr-text);
}

#accueilActualite {
  width: 100%;
  background-color: var(--clr-forground);
  border-radius: 16px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

#accueilActualiteHeader {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-text);
  color: var(--clr-forground2);
}

#accueilActualiteWrapper {
  display: grid;
  padding: 1rem;
  width: 100%;
  grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

#accueilActualiteWrapper .div1 {
  grid-area: 1 / 1 / 2 / 2;
}

#accueilActualiteWrapper .div2 {
  grid-area: 1 / 2 / 2 / 3;
}

#accueilActualiteWrapper .div3 {
  grid-area: 1 / 3 / 2 / 4;
}

#accueilActualiteWrapper .div4 {
  grid-area: 1 / 4 / 2 / 5;
}

#accueilActualiteWrapper .div5 {
  grid-area: 1 / 5 / 2 / 6;
}

#accueilActualiteWrapper .div6 {
  grid-area: 1 / 6 / 2 / 7;
}

#accueilActualiteWrapper .div7 {
  grid-area: 1 / 7 / 2 / 8;
}

.actualiteHeader {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 180px;
  gap: 10px;
}

.actualiteTemplate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.actualiteBody {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  max-width: 180px;
}

.actualiteFooter {
  display: flex;
}

.actualiteFooter a {
  padding: 0.5rem 1rem;
  background-color: var(--clr-text);
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--clr-forground);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--clr-text);
}

.actualiteFooter a:hover {
  cursor: pointer;
  background-color: var(--clr-forground);
  color: var(--clr-text);
}

.hr-v {
  height: 100%;
  width: 2px;
  border-radius: 2px;
  background-color: var(--clr-text);
}

/* ========================DASHBOARD======================== */

.dashboard-main {
  padding: 3rem 8vw;
  width: 100%;
  height: auto;
}

.add-widget {
  position: fixed;
  right: 2%;
  top: 75%;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 10px;
  display: none;
}

#modal-overlay.open {
  display: block !important;
}

.modal-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  padding: 3rem;
  background-color: white;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  gap: 10px;
  border-top: solid 40px #232323;
}

#modal-exit {
  position: absolute;
  top: -33px;
  right: 8px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.blue {
  width: 600px;
  height: 600px;
  background-color: blue;
  border-radius: 10px;
}

.modal-content h2 {
  font-family: 'Inter', sans-serif;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 2rem;
}

.btn-container button {
  padding: 2rem;
  gap: 1rem;
  border: none;
  max-width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  background-color: #D9D9D9;
}

.btn-container button:hover {
  cursor: pointer;
  scale: 0.95;
  background-color: #C4C4C4;
}

#modalBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

#modalBtn:hover {
  scale: 0.9;
}


/* All widget */

.widgetContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.widget-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #232323;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.widget {
  width: 25vw;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.goto {
  position: absolute;
  margin-left: 24%;
  margin-bottom: 4%;
  transition: all 0.2s ease-in-out;
}

.goto:hover {
  cursor: pointer;
  scale: 0.95;
}

.widget-header h3{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.widget-content img{
    box-sizing: border-box;
    max-width: 24vw;
    padding: 5px;
}

.delete-widget:hover {
  scale: 0.95;
}

.delete-widget {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  margin: 15px;
}

.widget-content {
  background-color: #F2F2F2;
  height: 47vh;
  width: 24vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* ========================MODULE======================== */

.modules {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 50px 120px;
}

.matiere {
  width: 25.3vw;
  height: 45vh;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: #00000029 0px 4px 35px;
}

.module-header {
  padding: 1.5rem;
  background-image: url(../img/module-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.module-header h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
}

.module-header h3 {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: white;
  font-weight: lighter;
}


.annonce {
  padding: 1.5rem;
  border-bottom: solid 1px black;
}

.matiere p{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: lighter;
}

.matiere a{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: lighter;
  text-decoration: underline !important;
}

.matiere a:hover{
  cursor: pointer;
  color: #250082;
}

.matiere li {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.matiere ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}


.archiveBtn button{
  background-color: #F2F2F2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 1.6rem;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: #00000029 0px 4px 35px;
  transition: all 0.2s ease-in-out;
}

.archiveBtn button:hover{
  box-shadow: #00000048 0px 4px 35px;
  scale: 0.95;
}

.archivebtn-container {
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}