/* ============== FONT ============== */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


/* ============== GLOBAL ============== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

body {
  margin: 0;
  padding: 0;

  background-color: var(--clr-background) !important;
  color: var(--clr-text) !important;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dc-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hr {
  border: none;
  border-top: 1px solid var(--clr-text);
  color: var(--clr-text);
  opacity: 0.3;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 100%;
}

/* ============== ROOT ============== */

:root {
  --clr-background: #DCDCDC;
  --clr-forground: #fdfdfd;
  --clr-text: #232323;
}


/* ============== NAVBAR ============== */

nav {
  position: fixed;
  top: 50%;
  translate: 0 -50%;
  height: 90vh;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--clr-forground);
  padding: 1rem 1rem;
  border-radius: 0px 16px 16px 0px;
}

nav a {
  color: var(--clr-text);
  font-family: 'Inter', sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
}

nav a:hover {
  cursor: pointer;
}

#navIconLogo {
  filter: invert(1);
}

.navIconBg2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  border: 1px solid var(--clr-forground);
}

.navIconBg2 img {
  width: 40px;
  height: 40px;
  transition: filter 0.3s ease;
}

.navIconBg2:hover {
  border: 1px solid var(--clr-text);
}

#navMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.navIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.navIconBg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.navIconBg img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.navIconContainer:hover .navIconBg {
  background-color: var(--clr-text);
}

.navIconContainer:hover img {
  filter: invert(1);
}

/* ============================================ */
/* ============== Login PAGE ================== */
/* ============================================ */

#spanLog {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: #FFA500;
}

#headerConnexion {
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  background-color: var(--clr-forground);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.10);
}

#headerConnexion img {
  width: fit-content;
  height: 48px;
  filter: invert(1);
}

#sectionConnexion {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

#sectionConnexion h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#containerConnexion {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background-color: var(--clr-forground);
  gap: 2rem;
  padding: 2rem;
  width: 30vw;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.10);
}

#containerConnexion div input {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
}

#containerConnexion div input:focus {
  outline: none;
}

#formConnexion {
  width: 100%;
  gap: 2rem;
}

.inputFormConnexion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1.5px solid var(--clr-text);
  border-radius: 10px;
  padding: 12px 20px;
  overflow: hidden;
}

#submitContainerConnexion input {
  width: 100%;
  border: 1.5px solid var(--clr-text) !important;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: var(--clr-text);
  color: var(--clr-forground);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#submitContainerConnexion input:hover {
  cursor: pointer;
  background-color: var(--clr-forground);
  color: var(--clr-text);
}

#submitContainerConnexion a {
  color: var(--clr-text);
  font-family: 'Inter', sans-serif;
  text-decoration: underline !important;
  font-size: 0.625rem;
  font-weight: 600;
}

#eyeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--clr-text);
}

#eyeButton img {
  width: 1.5rem;
  height: 1.5rem;
}

#eyeButton:hover {
  cursor: pointer;
}

/* ============================================ */
/* ============== Profile PAGE ================ */
/* ============================================ */

#profileSection {
  margin: 5vh 0 5vh 8vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-family: 'Inter', sans-serif;
}

#profileBodyContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

#profileBodyDiv1 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--clr-forground);
}

#profileBodyDiv2 {
  height: 50%;
  width: 100%;
  border-radius: 16px;
  background-color: var(--clr-forground);
}

#profileAsideContainer {
  height: 90vh;
  width: 40%;
  background-color: var(--clr-forground);
  border-radius: 16px 0px 0px 16px ;
}